.add-task--full-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.add-task__wrapper {
  animation: fade-in 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.add-task__form {
  max-width: 800px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: grid;
  grid-template-rows: repeat(1fr, 6) 2fr 1fr;
  gap: 5px;
  width: 85vw;
}

.add-task__form legend {
  font-size: 24px;
  font-family: var(--primary-font);
  text-align: center;
  margin-bottom: 10px;
}

.add-task__form textarea {
  resize: none;
  height: 200px;
}

.add-task__form footer {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.add-task-btn {
  padding: 5px;
  border: 1px solid;
  min-width: 60px;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
}

.add-task-btn:hover {
  background-color: whitesmoke;
  transform: scale(1.03);
}

.add-task-btn:active {
  transform: scale(0.97);
}

@keyframes fade-in {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
